<!DOCTYPE html>
<html>

<head>
  <title>Rajita Maharjan</title>
  <!--fontawesome-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

  <!-- Materialize -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <!-- Materialize icon-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
  <!--Javascript-->
  <script src="/js/app.js"></script>
</head>

<body>
  <!-- Navbar -->

  <div class="navbar-fixed">
    <nav class="header">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#top" class="brand-logo">Rajita Maharjan </a>
          <ul class="right hide-on-med-and-down" id="navList">
            <li><a href="#top"><h5>Home</h5></a></li>
            <li><a href="#project"><h5>Projects</h5></a></li>
            <li><a href="#contact"><h5>Contact</h5></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- Landing Screen -->
  <div class="section" id="landing">
    <h3 id="mainTitle" class="center">Full Stack Developer</h3>
    <p id="mainText" class="center">
      Based on a vast array of knowledge in many different front-end and
      back-end languages, responsive frameworks, databases, and best code
      practices, my objective is simply to become a best web developer that I
      can be and to contribute to the technology industry all that I know and
      can do. I am dedicated to perfecting my craft by learning from more
      seasoned developers, remaining humble, and continuously making strides
      to learn all that I can about development.
    </p>
    <br />
    <br />
    <div class = "buttons">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScaPfhtzjNZ2MPcKeSr_cgoERpJH2w72zVpkZpFpJc51ikWtA/formResponse"
      target="_blank" class="waves-effect waves-light btn-large"><i class="material-icons right">chevron_right</i>I need
      a Website</a>
    <a href="#contact" class="waves-effect waves-light btn-large"><i class="material-icons right">chevron_right</i>I am
      looking to
      hire</a>
  </div>
  </div>

  <!-- FIXED ACTION BUTTON -->
  <div class="fixed-action-btn vertical">
    <a class="btn-floating btn-large  blue-grey darken-4">
      <i class="fa fa-globe"></i>
    </a>
    <ul>
      <li>
        <a href="resume" target="_blank" class="btn-floating pink darken-2">
          <i class="fa fa-address-card"></i></a>
      </li>
      <li>
        <a href="https://github.com/marajita" target="_blank" class="btn-floating black darken-3">
          <i class="fa fa-github"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/rajita-maharjan-38922a109" target="_blank"
          class="btn-floating blue lighten-1"><i class="fa fa-linkedin"></i></a>
      </li>
    </ul>
  </div>
  <!--Work-->
  <div class="section" id="project">
    <div class="container">
      <br />
      <h3 class="heading text_b center">My Projects</h3>
      <div class="row ">
        <div class="col s12 m12 l4">
          <div class="card  black">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/timer.jpg" />
            </div>
            <div class="card-content">
              <span class="card-title activator purple-text text-lighten-5">Trivia-Game <i
                  class="mdi-navigation-more-vert right"></i></span>
              <p>
                <a class="purple-text text-lighten-5" href="https://marajita.github.io/TriviaGame/"
                  target="_blank">Project link</a>
              </p>
              <p>
                <a class="purple-text text-lighten-5" href="https://github.com/marajita/TriviaGame"
                  target="_blank">Github code link</a>
              </p>
            </div>
            <div class="card-reveal  black">
              <span class="card-title purple-text text-lighten-5">Trivia-Game <i
                  class="mdi-navigation-close right"></i></span>
              <p>
                This application have a trivia form with multiple choice
                option. The player will have a limited amount of time to
                finish the quiz. It has a countdown timer. The game ends when
                the time runs out. The page will reveal the number of
                questions that players answer correctly and incorrectly.
                Players are allowed to pick no more than one answer per
                question.
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l4">
          <div class="card  black">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/map.jpg" />
            </div>
            <div class="card-content">
              <span class="card-title activator purple-text text-lighten-5">Travel-Project <i
                  class="mdi-navigation-more-vert right"></i></span>
              <p>
                <a class="purple-text text-lighten-5" href="https://marajita.github.io/Travel-Project/"
                  target="_blank">Project link</a>
              </p>
              <p>
                <a class="purple-text text-lighten-5" href="https://github.com/marajita/Travel-Project"
                  target="_blank">Github code link</a>
              </p>
            </div>
            <div class="card-reveal  black">
              <span class="card-title purple-text text-lighten-5">Travel-Project <i
                  class="mdi-navigation-close right"></i></span>
              <p>
                The application helps people to travel smart and achieve more.
                Travelers can enter their location (or enable location
                services) and enter a destination (or click on a random area
                on a world map). The search results will return the cheapest
                flight, cheapest hotel and things to do in the destination.
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l4">
          <div class="card  black">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/train.jpg" />
            </div>
            <div class="card-content">
              <span class="card-title activator purple-text text-lighten-5">Train-Scheduler <i
                  class="mdi-navigation-more-vert right"></i></span>
              <p>
                <a class="purple-text text-lighten-5" href="https://marajita.github.io/Train-Scheduler/"
                  target="_blank">Project link</a>
              </p>
              <p>
                <a class="purple-text text-lighten-5" href="https://github.com/marajita/Train-Scheduler"
                  target="_blank">Github code link</a>
              </p>
            </div>
            <div class="card-reveal  black">
              <span class="card-title purple-text text-lighten-5">Train-Scheduler <i
                  class="mdi-navigation-close right"></i></span>
              <p>
                This is a train schedule application that incorporates
                Firebase to host arrival and departure data. Moment.js is used
                to retrieve and manipulate this information. This website will
                provide up-to-date information about various trains, namely
                their arrival times and how many minutes remain until they
                arrive at their station.
              </p>
            </div>
          </div>
        </div>
        </div>
        <div class="row ">
        <div class="col s12 m12 l4">
          <div class="card  black">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/foodfight.png" />
            </div>
            <div class="card-content">
              <span class="card-title activator purple-text text-lighten-5">The FoodFight<i
                  class="mdi-navigation-more-vert right"></i></span>
              <p>
                <a class="purple-text text-lighten-5" href="https://safe-fortress-63021.herokuapp.com/"
                  target="_blank">Project link</a>
              </p>
              <p>
                <a class="purple-text text-lighten-5" href="https://github.com/rwazny/Project-2"
                  target="_blank">Github code link</a>
              </p>
            </div>
            <div class="card-reveal  black">
              <span class="card-title purple-text text-lighten-5">The FoodFight<i
                  class="mdi-navigation-close right"></i></span>
              <p>
                This is a real time web application where four users can play a game at 
                once. This project is build using HTML, CSS and javascript. Node.js is used 
                for the javascript runtime environment along with express as the web application 
                framework.
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l4">
          <div class="card  black">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/burger.png" />
            </div>
            <div class="card-content">
              <span class="card-title activator purple-text text-lighten-5">Eat-Da-Burger<i
                  class="mdi-navigation-more-vert right"></i></span>
              <p>
                <a class="purple-text text-lighten-5" href="https://still-stream-55986.herokuapp.com/"
                  target="_blank">Project link</a>
              </p>
              <p>
                <a class="purple-text text-lighten-5" href="https://github.com/marajita/Burger"
                  target="_blank">Github code link</a>
              </p>
            </div>
            <div class="card-reveal  black">
              <span class="card-title purple-text text-lighten-5">Eat-Da-Burger<i
                  class="mdi-navigation-close right"></i></span>
              <p>
                This application is a simple full stack application with a front end implemented 
                with HTML/CSS (HTML templating is done with the help of Handlebars) and elements 
                from the Bootstrap framework. The backend implemented with Node.js and Express.
                The user can enter any burger name to add it to the menu. This adds the new burger 
                entry into the MySQL database. The burger entry is added as available on the menu and 
                placed on the left side of the screen. The user may then eat any burger by clicking on 
                the devour it button, which moves it into the right side of the screen and updates its status 
                accordingly in the database from 0 to 1.
              </p>
            </div>
          </div>
        </div>
          <div class="col s12 m12 l4">
          <div class="card  black">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/friendfinder.jpg" />
            </div>
            <div class="card-content">
              <span class="card-title activator purple-text text-lighten-5">FriendFinder<i
                  class="mdi-navigation-more-vert right"></i></span>
              <p>
                <a class="purple-text text-lighten-5" href="https://tranquil-journey-31037.herokuapp.com/"
                  target="_blank">Project link</a>
              </p>
              <p>
                <a class="purple-text text-lighten-5" href="https://github.com/marajita/FriendFinder"
                  target="_blank">Github code link</a>
              </p>
            </div>
            <div class="card-reveal  black">
              <span class="card-title purple-text text-lighten-5">FriendFinder<i
                  class="mdi-navigation-close right"></i></span>
              <p>
                This app will help to find the best match for a friend with an 
                individual that is in our network after filling out a quick survey.
                To use this app, go to the homepage and take the survey. Immediately 
                after submitting the survey, the best friend will pop up. You can 
                access the API of the users and their personalized information.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Contact form-->
  <div class="section" id="contact">
    <div class="row">
      <div class="col m10 offset-m1 s12">
        <br />
        <h3 id="contactForm" class="heading text_b center">Contact Me</h3>
        <div class="row">
          <form class="col m8 offset-m2 s12">
            <div class="row">
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">account_circle</i>
                      <input id="name-input" type="text" class="validate" required />
                      <label for="name-input">Full Name</label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">email</i>
                      <input id="email-input" type="email" class="validate" required />
                      <label for="email-input">Email</label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">mode_edit</i>
                      <textarea id="message-input" class="materialize-textarea" required></textarea>
                      <label for="message-input">Message</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col m12">
                <p class="right-align">
                  <button id="contactMe" class="btn btn-large waves-effect waves-light" type="button" name="action">
                    Send Message
                  </button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--Footer-->
  <footer class="section page-footer">
    <div class="container center-align">&#169; Rajita Maharjan 2018</div>
  </footer>
</body>

</html>