<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>

  <body>
    <div class="center">
      <embed src="/images/rajita_resume.pdf" width="1000px" height="2100px" />
    </div>
  </body>
</html>
